.shadow {
  box-shadow: 10px 10px 10px 10px;
}
.kayden {
  background: #30783e;
}
.maguire {
  background: #0077b6;
}
:root {
  --p-100: #30783e;
  --l-100: #3fb4ad;
  --c-100: #0077b6;
  --m-100: #bd5880;
  --b-100: #b2313b;
  --s-100: #f7d33a;
  --primary-font: "Luckiest Guy", sans-serif;
  --bold: 1000;
}

body {
  font-family: var(--primary-font);
}

.bold-my-text {
  font-weight: var(--bold);
}
/* My buttons style */

.button-my-success {
  background: #3fb4ad
}
.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.big-btn-rght {
  top: 0%;
  left: 0%;
  transform: translate(270%, -100%);
}
.btn-color {
  border: 3px solid #b2313b;
  color: #b2313b;
  background-color: #bd5880;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-color:hover {
  background-color: #000000;
  color: #f7d33a;
  border: 3px solid #f7d33a;
}

.sm-btn-left {
  top: 0%;
  left: 0%;
  transform: translate(-150%, 0%);
}
.btn-color-sm {
  border: 3px solid #0077b6;
  color: #0077b6;
  background-color: #3fb4ad;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-color-sm:hover {
  background-color: #ffffff;
  color: #30783e;
  border: 3px solid #30783e;
}

.drop {
  top: -10%;
  left: 0;
  transform: translate(0, 3000%);
}

.text {
  padding: 10px 20px;
  border-radius: 0px;
  transform: translate(0%, 7%);
  text-align: center;
}

.center-card {
  top: 0%;
  left: 0%;
  transform: translate(-50%, 00%);
}

.gif-peter {
  top: 0%;
  left: 0%;
  transform: translate(360%, -200%);
  size: 100px 100px 100px;
}

.gif-pika {
  top: 0%;
  left: 0%;
  transform: translate(-20%, 45%);
}

.gif-stew {
  top: 0%;
  left: 0%;
  transform: translate(0%, -20%);
}

.btn-success:hover {
  background-color: #cc0000;
  color: #f7d33a;
  border: 1px solid #cc0000;
}

.btn-danger:hover {
  background-color: #30783e; 
  color: #0077b6;
}

.border-carousel {
  border: 1px solid #000000;
}

body {
  background-color:#adb5bd;
}

.fire {
  background-color: #dc9090;
  
}

body {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  padding: 30px;
}

.pokemon {
  color:#f7d33a
}

.famguy {
  color:#0077b6
}

.slimmy {
  color:#30783e
}

.all {
  color:#bd5880
}

.redbrian {
  color:#b2313b
}

.teal {
  color:#3fb4ad
}


.nav-link.active {
  background-color: #bd5880;
}

.color:hover {
  color: #ffffff;
}

.activepink {
  background-color: #bd5880;
}

.cardpad {
  padding:-100px;
}

.firstball {
  top: 0%;
  left: 0%;
  transform: translate(85%, -2750%);
}